html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background: antiquewhite;
  margin: 0;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 1.5em 0 .5em;
}

h3 {
  font-size: 1.25em;
}

p, li {
  font-family: Georgia, serif;
  font-size: 1.1em;
}

p {
  margin: .5em 0 1.5em;
}

a {
  color: #000;
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
}

header, section, footer {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  z-index: 100;
}

header .left {
  max-width: 65%;
}

header .key {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-top: 0
}

header .circle {
  display: inline-block;
  margin-right: .05em;
  margin-left: .5em;
  height: .75em;
  width: .75em;
  border-radius: 100%;
}

header .circle.gpus {
  background: dodgerblue;
}

header .circle.currencies {
  background: tomato;
}

figure {
  margin: 1em 0 2em;
}

#chart {
  width: 100%;
}

svg {
  overflow: visible;
  font-size: 1em;
}

.axis {
  font-size: .9em;
}

.axis .domain {
  display: none;
}

@media all and (max-width: 640px) {
  .axis g:nth-child(odd) {
    display: none;
  }

  header .left {
    max-width: 100%;
  }
}
